@import 'normalize.css';
@font-face {
  font-family: neris-light;
  src: url("Neris-Light.otf");
}
body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: neris-light, sans;
  color: #878786;
}
header {
  width: 100%;
}
header .identifierContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .identifierContainer .identifier {
  width: 86px;
  height: 64px;
  margin: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .identifierContainer .identifier .isotype {
  background-image: url("/img/isotipo.png");
  width: 31px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
}
header .identifierContainer .identifier .logo {
  width: 86px;
  height: 15px;
  background-image: url("/img/mikew.png");
  background-size: contain;
  background-repeat: no-repeat;
}
header .identifierContainer .options {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding: 0 30px;
}
header .identifierContainer .options .cv {
  text-transform: uppercase;
  border: 1px #808080 solid;
}
header .identifierContainer .options .lenguage {
  text-decoration: underline;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px #808080 solid;
  border-bottom: 1px #808080 solid;
  margin: 0;
  padding: 0;
}
header ul li {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  width: 120px;
  font-size: 12px;
  box-sizing: border-box;
}
header ul li:hover {
  color: #9e005d;
}
