<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>MikeW.io</title>
	<link rel="stylesheet" href="css/main.css"><title>MikeW.io</title>
</head>
<body>
	<header>
		 <div class="identifierContainer">
		 	<div class="identifier">
				<div class="isotype"></div>
				<div class="logo"></div>
			</div>
		 	<div class="options">
				<span class="cv">c.v.</span>
				<span class="language">Español</span>
			</div>
		 </div>
		 <ul>
		 	<li>blog</li>
		 	<li>projects</li>
		 	<li>writings</li>
		 </ul>
	</header>
	<div class="mainContainer">
		<div class="mainInfo">
			<figure></figure>
			<div class="separator"></div>
			<span>I’m Mike Woodcock, an Economist, student of matematics and empirical engineer. Currently working on Artificial Intelligence, Simulation and Distributed Applications.</br>
			Always open to new an interesting projects.</span>
		</div>
		<div class="someWorks">
			<div class="titleContainer">
				<div class="line"></div>
				<span class="title">some works</span>
				<div class="line"></div>
			</div>
			<ul>
				<div class="left"></div>
				<div class="right"></div>
				<li>
					<span class="title">inteligencia artificial</span>
					<span class="body">Sentiment analysis for some politician</span>
				</li>
				<li>
					<span class="title">nintendo</span>
					<span class="body">Modification of the Nintendo classic</span>
				</li>
				<li>
					<span class="title">Stock market</span>
					<span class="body">Autonomous invester algorithm</span>
				</li>
			</ul>
		</div>
		<div class="moto">
			<div class="text">"You must do the things you think you cannot do”</div>
			<div class="by">- Eleanor Rossevelt</div>
		</div>
	</div>
	<footer>
		<div class="contactInfoContainer">
			<span class="fb"></span>
			<span class="whatsapp"></span>
			<span class="twitter"></span>
		</div>
		<div class="rights">
			www.mikew.io ©2016 todos los derechos reservados. Bogotá D.C., Colombia	
		</div>
	</footer>
</body>
</html>
