<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MikeW.io</title>
	<link rel="stylesheet" href="css/main.css"><title>MikeW.io</title>
</head>
<body>
	<header>
		 <div class="identifierContainer">
		 	<div class="identifier"></div>
		 	<div class="options">
				<span class="cv">c.v.</span>
				<span class="language">Español</span>
			</div>
		 </div>
		 <ul>
		 	<li>blog</li>
		 	<li>projects</li>
		 	<li>writings</li>
		 </ul>
	</header>
	<div></div>
	<footer></footer>
</body>
</html>
