<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>MikeW.io</title>
	<link rel="stylesheet" href="css/main.css"><title>MikeW.io</title>
</head>
<body>
	<div class="bodyContainer writings">
	<header>
		 <div class="identifierContainer">
		 	<div class="identifier">
				<div class="isotype"></div>
				<div class="logo"></div>
			</div>
		 	<div class="options">
				<span class="cv">c.v.</span>
				<span class="language">Español</span>
			</div>
		 </div>
		 <ul>
		 	<li>blog</li>
		 	<li>projects</li>
		 	<li>writings</li>
		 </ul>
	</header>
	<div class="mainContainer writingsContainer">
		<ul>
			<li>
				<span class="title">an approach to social relationships</span>
				<span class="body">Why is there a need to choose?</span>
			</li>
			<li>
				<span class="title">A cover called skin</span>
				<span class="body">What do we really hide?</span>
			</li>
			<li>
				<span class="title">social dependency</span>
				<span class="body">Should we be really independent</span>
			</li>
			<li>
				<span class="title">notes on her and herself</span>
				<span class="body">Do I love her</span>
			</li>
		</ul>
	</div>
	<footer>
		<div class="moto">
			<div class="text">"You must do the things you think you cannot do”</div>
			<div class="by">- Eleanor Rossevelt</div>
		</div>
		<div class="contactInfoContainer">
			<span class="fb"></span>
			<span class="whatsapp"></span>
			<span class="twitter"></span>
		</div>
		<div class="rights">
			www.mikew.io ©2016 todos los derechos reservados. Bogotá D.C., Colombia	
		</div>
	</footer>
	</div>
</body>
</html>
