<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>MikeW.io</title>
	<link rel="stylesheet" href="css/main.css"><title>MikeW.io</title>
</head>
<body>
	<div class="bodyContainer blogs">
	<header>
		 <div class="identifierContainer">
		 	<div class="identifier">
				<div class="isotype"></div>
				<div class="logo"></div>
			</div>
		 	<div class="options">
				<span class="cv">c.v.</span>
				<span class="language">Español</span>
			</div>
		 </div>
		 <ul>
		 	<li>blog</li>
		 	<li>projects</li>
		 	<li>writings</li>
		 </ul>
	</header>
	<div class="mainContainer blogsContainer">
		<ul>
			<li>
				<figure class="identifierBlogList"><img src="/img/firebase.png" alt=""></figure>
				<span class="bodyBlogList">Use firebase to create a chat under an hour</span>
			</li>
			<li>
				<figure class="identifierBlogList"><img src="/img/apple.png" alt=""></figure>
				<span class="bodyBlogList">Making the terminal look cool</span>
			</li>
			<li>
				<figure class="identifierBlogList"><img src="/img/css.png" alt=""></figure>
				<span class="bodyBlogList">Use css to make a custom check button</span>
			</li>
			<li>
				<figure class="identifierBlogList"><img src="/img/flux.png" alt=""></figure>
				<span class="bodyBlogList">Use firebase to have a very optimized chanel</span>
			</li>
		</ul>
	</div>
	<footer>
		<div class="moto">
			<div class="text">"You must do the things you think you cannot do”</div>
			<div class="by">- Eleanor Rossevelt</div>
		</div>
		<div class="contactInfoContainer">
			<span class="fb"></span>
			<span class="whatsapp"></span>
			<span class="twitter"></span>
		</div>
		<div class="rights">
			www.mikew.io ©2016 todos los derechos reservados. Bogotá D.C., Colombia	
		</div>
	</footer>
	</div>
</body>
</html>
