.blogContainer
	.identifierEntry
		text-align: center
		margin: 25px

		img
			display: inline-block

	.title
		text-transform: uppercase
		text-align: center
		color: $violet
		width: 100%
		padding: 10px 30px
		display: inline-block
		box-sizing: border-box

	.content
		padding: 10px 25px

		p
			text-align: justify
			line-height: 22px
			letter-spacing: 0.4px

			&:first-child
				&:first-letter
					color: $violet

		img
			width: 100%
			margin: 20px 0

		h2
			font-size: 14px
			color: $violet
			text-transform: capitalize
			margin-top: 32px

		a
			color: $soft_gray
