.blogsContainer
	/******************************* any change made inside 
	 ******************************** this block copy to the file 
	 ********************************* writings.styl, search for the text
	 ********************************** code: 453023 
	 **********************************************************************/
	ul
		list-style: none
		padding: 0
		display: flex
		width: 100%
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-evenly

		li
			flex-shrink: 1
			border: 1px solid $red_violet
			max-width: 173px
			width: 35%
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			padding: 14px
			margin: 10px 5px
			transition: border $time
			cursor: pointer

			figure
				width: 100%
				overflow: hidden
				margin: 0
				padding: 0 20px
				box-sizing: border-box

				img
					width: 100%

			span
				padding: 15px 0 0
				text-align: center
				color: $soft_gray
				text-decoration: underline
				letter-spacing: 0.44px
				transition: color $time
				display: inline-block

				&:first-letter
					color: $soft_gray
					transition: $time color

				&.summaryBlogList
					display: none

			&:hover
				border-color: $violet
				border-bottom: 8px solid $violet

				span
					color: $gray

					&:first-letter
						color: $violet

@media only screen and (min-width: 601px)
	.blogsContainer, .writingsContainer
		ul
			justify-content: center

			li
				max-width: 220px
	/************************ end of block ****************************/

@media only screen and (min-width: 601px)
	.blogsContainer, .writingsContainer
		ul
			li
				flex-direction: row
				display: flex
				justify-content: space-between
				align-items: flex-start
				max-width: initial
				border: 0
				width: 100%
				position: relative
				padding-bottom: 84px
				box-sizing: border-box

				figure
					width: 400px
					width: 50%
					border: 1px double $red_violet
					border-width: 1px
					transition: border-width $time
					flex-shrink: 0.5
					text-align: center
					position: relative
					display: inline-block
					box-sizing: border-box

					&:before
						content: ""
						position: relative
						padding-top: 67%
						display: block

					img
						display: inline-block
						position: absolute
						top: 0
						bottom: 0
						right: 0
						left: 0
						padding: 20px
						box-sizing: border-box
						margin: auto auto

				div
					flex-grow: 1
					flex-shrink: 0.5
					width: 50%
					padding-left: 40px
					padding-left: 4vw
					font-size: 25px
					display: inline-block
					display: flex
					flex-direction: column
					justify-content: flex-start

					span
						text-align: left
						letter-spacing: 0.5px

						&:first-letter
							color: unset

						&.bodyBlogList
							color: $gray
							font-size: 2.7vw
							text-transform: uppercase
							padding-bottom: 26px
							padding-bottom: 2vw
							padding-top: 1.5vw

						&.summaryBlogList
							line-height: 40px
							line-height: 4vw
							text-decoration: none
							font-style: italic
							font-size: 20px
							font-size: 2vw
							padding: 0
							display: inline-block


				&:hover
					border: 0

					figure
						border-width:5px

					div
						span
							&:first-letter
								color: unset

							&.bodyBlogList
								color: $violet
								font-weight: bold
				
				&:after, &:before
					content: ""
					position: absolute
					bottom: 0
				
				&:before
					background-color: $gray
					height: 1px
					bottom: 22px
					left: -40px
					right: -40px

				&:after
					background-color: white
					background-image: url("/static/img/secondary.png")
					background-repeat: no-repeat
					background-position: center center
					background-size: contain
					left: 50%
					margin-left: -36px
					width: 72px
					height: 47px

				&:last-child
					&:before, &:after
						display: none


/*
In order to avoid fonts start increasing after 1000px
this is the max-font-size
*/
@media only screen and (min-width: 1000px)
	.blogsContainer, .projectsContainer, .writingsContainer
		ul
			li
				div
					padding-left: 40px

					span
						&.bodyBlogList
							font-size: 27px
							padding-bottom: 20px
							padding-top: 15px

						&.summaryBlogList
							line-height: 40px
							font-size: 20px
