.blogContainer, .projectContainer, .writingContainer
	.identifierEntry
		text-align: center
		margin: 25px 25px 10px 25px

		img
			display: inline-block

	.title
		text-transform: uppercase
		text-align: center
		color: $violet
		width: 100%
		padding: 10px 30px
		display: inline-block
		box-sizing: border-box

	.content, .summary

		word-break: break-word

		p
			text-align: left
			line-height: 22px
			letter-spacing: 0.4px
			padding: 10px 25px 28px 25px
			margin: 0

			&:first-child
				&:first-letter
					color: $violet

			img
				max-width: 500px
				display: block
				margin: 0 auto

		img
			width: 100%
			padding: 20px 25px
			box-sizing: border-box

		h2
			font-size: 14px
			margin: 0
			padding: 0 25px
			padding-top: 32px
			color: $violet
			text-transform: capitalize

		a
			color: $soft_gray

		ul
			margin: 10px 0 10px 0

@media only screen and (min-width: 800px)
	.blogContainer, .projectContainer, .writingContainer
		.content, .summary
			max-width: 1200px
			margin: 0 100px
			font-size: 15pt

			.title
				font-size: 25px
				padding-bottom: 30px

			h2
				font-size: 15pt

			p
				line-height: 40px

				img
					max-width: 400px
					padding: 15px
					border: 1px $soft_gray solid
					float: left
					margin: 0px 15px 15px 0px
					display: inline-block

			ul
				li
					line-height: 35px

			img
				border: 1px $soft_gray solid

@media only screen and (min-width: 1200px)
	.mainContainer
		&.blogContainer, &.projectContainer, &.writingContainer
			.content, .summary
				max-width: 1200px
				margin: 0 auto

			.summary
				display: block
