.blogContainer, .projectContainer
	.identifierEntry
		text-align: center
		margin: 25px 25px 10px 25px

		img
			display: inline-block

	.title
		text-transform: uppercase
		text-align: center
		color: $violet
		width: 100%
		padding: 10px 30px
		display: inline-block
		box-sizing: border-box

	.content, .summary

		p
			text-align: justify
			line-height: 22px
			letter-spacing: 0.4px
			padding: 10px 25px 28px 25px
			margin: 0

			&:first-child
				&:first-letter
					color: $violet

		img
			width: 100%
			margin: 20px 25px

		h2
			font-size: 14px
			margin: 0
			padding: 0 25px
			padding-top: 32px
			color: $violet
			text-transform: capitalize

		a
			color: $soft_gray
