@font-face {
  font-family: 'mikew';
  src:  url('fonts/icomoon.eot?xxeslv');
  src:  url('fonts/icomoon.eot?xxeslv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xxeslv') format('truetype'),
    url('fonts/icomoon.woff?xxeslv') format('woff'),
    url('fonts/icomoon.svg?xxeslv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face
	font-family: neris-light
	src: url(Neris-Light.otf)

$gray = #878786
$violet = #9E005D
$violet1 = #B84179
$violet2 = #8C245C
$violet3 = #551942
$violet4 = #192A35
