@font-face {
  font-family: 'mikew';
  src:  url('fonts/icomoon.eot?xxeslv');
  src:  url('fonts/icomoon.eot?xxeslv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xxeslv') format('truetype'),
    url('fonts/icomoon.woff?xxeslv') format('woff'),
    url('fonts/icomoon.svg?xxeslv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face
	font-family: neris-light
	src: url(Neris-Light.otf)

$darker_gray = #3C3C3B
$dark_gray = #575756
$gray = #878786
$soft_gray = #B2B2B1
$very_soft_gray = #9D9D9C

$dark_ment = #005F53

$rose = #B296C8
$stronger_rose = #946CB2

$red_violet = #A3195B
$strong_violet = #662D91
$violet = #9E005D

$violet1 = #B84179
$violet2 = #8C245C
$violet3 = #551942
$violet4 = #192A35

$time = 300ms

$max_width = 1200px
