html
	height: 100%
	margin: 0

body
	border: 0
	margin: 0
	padding: 0
	font-family: neris-light, sans
	color: $gray
	height: 100%

.bodyContainer
	display: flex
	flex-flow: column
	overflow: hidden
	height: 100%

	.mainContainer
		flex: 1 1 auto

	&.blogs, &.blog
		header
			ul
				li
					&:first-child
						color: $violet

	&.projects, &.project
		header
			ul
				li
					&:nth-child(2)
						color: $violet

	&.writings, &.writing
		header
			ul
				li
					&:last-child
						color: $violet

	&.writing, &.project, &.blog
		footer
			.moto
				display: none

			.contactInfoContainer
				background-color: $soft_gray

				span
					&:before, &:after
						color: $gray

					&:hover
						&:before, &:after
							color: white
		
	
header
	width: 100%
	flex: 0 1 auto

	.separator
		display: none

	.identifierContainer
		position: relative
		display: flex
		flex-direction: row
		justify-content: center

		.identifier
			width: 86px
			height: 64px
			margin: 26px
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: center
			cursor: pointer

			.isotype
				background-image: url('/static/img/isotipo.png')
				width: 31px
				height: 36px
				background-size: contain
				background-repeat: no-repeat

			.logo
				width: 86px
				height: 15px
				background-image: url('/static/img/mikew.png')
				background-size: contain
				background-repeat: no-repeat

		.options
			position: absolute
			top: 0
			right: 0
			display: flex
			flex-direction: column
			height: 100%
			justify-content: space-around
			padding: 0 30px
			align-items: center

			span
				font-size: 12px
				cursor: pointer

			.cv
				text-transform: uppercase
				border: 1px $gray solid
				height: 31px
				width: 31px
				line-height: 31px
				text-align: center
				position: relative
				transition: $time border-color, $time color

				&:before
					content: ''
					border: 1px solid red
					width: 5px
					height: 5px
					position: absolute
					top: -1px
					right: -1px
					border: 2.5px solid white
					box-sizing: border-box
					border-left-color: $violet
					border-bottom-color: $violet

				&:hover
					border-color: $violet
					color: $violet

			.language
				text-decoration: underline
				font-style: italic
				transition: $time color

				&:hover
					color: $violet

	ul
		list-style: none
		display: flex
		flex-direction: row
		justify-content: center
		border-top: 1px gray solid
		border-bottom: 1px gray solid
		margin: 0
		padding: 0

		li
			text-align: center
			text-transform: uppercase
			padding: 10px 20px
			cursor: pointer
			width: 120px
			font-size: 12px
			box-sizing: border-box
			transition: $time color

			&:hover
				color: $violet

.indexContainer
	.mainInfo

		figure
			background-color: gray
			position: relative
			width: 100%
			margin: 0px
			padding: 0
			height: 110.7vw
			background-image: url("/static/img/mike.png")
			background-repeat: no-repeat
			background-size: cover

			&:before, &:after
				display: inline-block
				position: absolute
				width: 40px
				height: 102px
				top: 50%
				margin-top: -51px
				content: ''
				background-image: url("/static/img/complementary_graph.png")
				background-size: contain
				background-repeat: no-repeat

			&:before
				left: 0

			&:after
				right: 0
				transform: scaleX(-1)
				

		.separator
			background: linear-gradient(90deg, $violet1, $violet2, $violet3, $violet4)
			width: 100%
			height: 9px

		span
			width: 100%
			font-style: italic
			font-size: 14px
			line-height: 22px
			letter-spacing : 0.25px
			color: $gray
			text-align: center
			padding: 22px 19px
			box-sizing: border-box
			display: inline-block

	.someWorks
		.titleContainer
			display: flex
			flex-direction: row
			align-items: center
			height: 12px

			.title
				text-align: center
				display: inline-block
				line-height: 12px
				text-transform: uppercase
				padding: 0 15px

			.line
				height: 1px
				background-color: $gray
				flex-grow: 1

		ul
			position: relative
			display: flex
			justify-content: left
			list-style: none
			overflow-x: scroll
			padding: 0
			align-items: center

			.left, .right
				position: fixed
				top: 50%
				margin-top: -20px
				height: 41px
				width: 18px
				display: none
				
				&:after
					font-family: mikew
					font-size: 39px
					color: $violet

			.left
				left: 0

				&:after
					content: '\e903'

			.right
				right: 0

				&:after
					content: '\e904'

			li
				display: flex
				flex-direction: column
				width: 140px
				margin: 10px 15px
				flex-shrink: 0
				flex-grow: 0
				background: transparent
				cursor: pointer

				figure
					display: none

				div
					display: flex
					flex-direction: column

				span
					text-align: center
					background-color: white

				.title
					border: 1px double $violet
					padding: 7px
					text-transform: uppercase
					font-size: 12px
					word-break: break-word
					transition: $time border

				.body
					padding: 15px 0
					font-size: 14px

				&:last-child
					padding-right: 15px

				&:hover
					.title
						border: 4px double $violet

footer
	flex: 0 1 auto

	.separator
		display: none

	.moto
		height: 73px
		background-color: $gray
		color: white
		text-style: italic
		text-align: center
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

		div
			padding: 2px
			
	.contactInfoContainer
		height: 97px
		display: flex
		flex-direction: row
		justify-content: center

		span
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: center
			padding: 15px
			cursor: pointer

			&:before, &:after
				transition: color $time

			&:before
				font-size: 40px
				font-family: 'mikew'

			&:after
				text-align: center
				font-size: 14px

		.fb
			&:before
				content: '\e900'

			&:after
				content: 'Mike Woodcock'

		.whatsapp
			&:before
				content: '\e901'

			&:after
				content: '+ 57 312 553 8143'

		.twitter
			&:before
				content: '\e902'

			&:after
				content: '@NotAnyMike'

	.rights
		background: linear-gradient(90deg, $violet1, $violet2, $violet3, $violet4)
		color: white
		line-height: 31px
		font-style: italic
		height: 31px
		text-align: center
		font-size: 9px

@media only screen and (min-width: 601px)
	.bodyContainer
		align-items: center

		&.writing, &.project, &.blog, &.writings, &.projects, &.blogs
			header
				line-height: 0

				.separator
					display: inline-block
					background: linear-gradient(90deg, $violet1, $violet2, $violet3, $violet4)
					width: 100%
					height: 5px

			footer
				.separator
					display: none

				.moto
					display: none

				.contactInfoContainer
					position: relative

					&:before, &:after
						content: ''
						position: absolute
						height: 100%
						width: 37px
						background-size: contain
						background-image: url("/static/img/complementary_graph_negative.png")
						background-repeat: no-repeat

					&:before
						left: 0

					&:after
						right: 0
						transform: scaleX(-1)

		&.projects, &.blogs, &.writings
			.mainContainer
				width: 100%
				max-width: $max_width
				padding: 40px 0

	header
		/*max-width: $max_width*/

		.identifierContainer
			max-width: $max_width
			margin: 0 auto
			height: 200px
			align-items: center

			.options
				.language
					font-size: 16px

				.cv
					font-size: 16px
					height: 40px
					width: 40px
					line-height: 40px

					&:before
						width: 10px
						height: 10px
						border: 5px solid white
						border-left-color $violet
						border-bottom-color: $violet

			.identifier
				height: auto

				.isotype
					padding-bottom: 16px
					width: 56px
					height: 65px

				.logo
					width: 153px
					height: 27px

		ul
			height: 72px
			max-width: 95%
			margin: 0 auto
			box-sizing: border-box
			align-items: center
			border-bottom: 0

			li
				font-size: 18px
				padding: auto 40px
				box-sizing: content-box
				color: $very_soft_gray
				
	.indexContainer
		width: 100%

		.mainInfo
			position: relative
			max-width: $max_max_width
			margin: 0 auto

			figure
				background-color: $gray
				background-image: url("/static/img/mike2.png")
				background-position: 18% 0%
				height: 433.4px

				&:before, &:after
					display: none

			span
				position: absolute
				top: 0
				right: 10%
				width: 50%
				height: 100%
				line-height: 393.4px
				overflow: hidden

				p
					line-height: 40px
					line-height: calc(3.32vw)
					display: inline-block
					font-size: 26px
					font-size: calc(2.15vw)
					font-style: italic
					letter-spacing: .5
					text-align: left
					vertical-align: middle
					padding-left: 60px
					position: relative

					&:after
						content: ''
						display: inline-block
						position: absolute
						width: 40px
						height: 50px
						background: url("/static/img/compl-full.png") no-repeat center center
						left: 0
						top: 20px
						margin-top: -25px

			.separator
				display: none

		.someWorks
			max-width: $max_max_width
			margin: 0 auto

			.titleContainer
				margin: 0 auto
				width: 95%
				padding: 20px 0
				padding-bottom: 0
				height: 50px
				font-size: 18px

			ul
				overflow-x: hidden
				flex-wrap: wrap
				justify-content: space-evenly
				padding: 0 30px

				li
					width: auto
					max-width: 354px
					position: relative
					flex-grow: 1
					flex-shrink: 0
					padding: 0
					margin: 5px
					margin: 1vw
					border: 1px solid $violet
					display: block

					figure
						padding: 0
						margin: 0
						display: inline-block
						position: absolute
						top: 0
						bottom: 0
						left: 0
						right: 0
						overflow: hidden
						z-index: 1

						img
							width: 100%
							height: 100%
							filter: grayscale(100%)
							transition: filter $time

					div
						position: absolute
						min-height: 40%
						position: absolute
						display: flex
						flex-direction: column
						justify-content: center
						width: 100%
						bottom: 0
						z-index: 2

						&:before
							content: ""
							position: absolute
							top: 0
							bottom: 0
							right: 0
							left: 0
							background-color: black
							opacity: .5
							z-index:-1

						.title
							font-size: 16px
							display:inline-block
							width: 100%
							background-color: transparent
							color: white
							box-sizing: border-box
							border: 0

						.body
							display: none

					&:after
						content: ""
						position: relative
						width: 100%
						padding-top: 57%
						display: block

					&:last-child
						padding-right: 0

					&:hover
						.title
							border: none

						figure
							img
								filter: grayscale(0%);

	.separator
		display: inline-block
		background: linear-gradient(90deg, $violet1, $violet2, $violet3, $violet4)
		width: 100%
		height: 25px

	footer
		width: 100%
		/*max-width: $max_width*/

		.separator
			display: inline-block

		.moto
			background-color: white
			position: relative
			height: 240px

			.text
				font-size: 24px
				color: $dark_gray

				&:before
					content: ''
					width: 100%
					height: 49px
					display: inline-block
					margin-bottom: 20px
					background-image: url("/static/img/isotipo.png")
					background-size: contain
					background-repeat: no-repeat
					background-position: center center

			.by
				font-size: 24px
				color: $soft_gray

			&:before, &:after
				content: ''
				display: inline-block
				width: 58px
				height: 100%
				position: absolute
				top: 0
				background-repeat: no-repeat
				background-size: contain
				background-image: url("/static/img/complementary_graph.png")

			&:before
				left: 0
				background-position: center left

			&:after
				right: 0
				transform: scaleX(-1)
				background-position: center right

		.contactInfoContainer
			background-color: $gray
			padding: 10px 0

			span
				width: 240px
				border-right: 1px solid white

				&:before, &:after
					color: $darker_gray

				&:hover
					&:before, &:after
						color: white

				&:last-child
					border: 0

		.rights
			background-color: white
			background: white
			color: $gray
			font-size: 12px

@media only screen and (min-width: $max_width)
	.indexContainer .mainInfo span p
		line-height: 40px
		font-size: 26px
