html
	height: 100%
	margin: 0

body
	border: 0
	margin: 0
	padding: 0
	font-family: neris-light, sans
	color: $gray
	height: 100%

.bodyContainer
	display: flex
	flex-flow: column
	height: 100%

	.mainContainer
		flex: 1 1 auto

	&.blogs, &.blog
		header
			ul
				li
					&:first-child
						color: $violet

	&.projects, &.project
		header
			ul
				li
					&:nth-child(2)
						color: $violet

	&.writings, &.writing
		header
			ul
				li
					&:last-child
						color: $violet

	&.writing, &.project, &.blog
		footer
			.moto
				display: none

			.contactInfoContainer
				background-color: $soft_gray

				span
					&:before, &:after
						color: $gray

					&:hover
						&:before, &:after
							color: white
		
	
header
	width: 100%
	flex: 0 1 auto

	.identifierContainer
		position: relative
		display: flex
		flex-direction: row
		justify-content: center

		.identifier
			width: 86px
			height: 64px
			margin: 26px
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: center

			.isotype
				background-image: url('/static/img/isotipo.png')
				width: 31px
				height: 36px
				background-size: contain
				background-repeat: no-repeat

			.logo
				width: 86px
				height: 15px
				background-image: url('/static/img/mikew.png')
				background-size: contain
				background-repeat: no-repeat

		.options
			position: absolute
			top: 0
			right: 0
			display: flex
			flex-direction: column
			height: 100%
			justify-content: space-evenly
			padding: 0 30px
			align-items: center

			span
				font-size: 12px
				cursor: pointer

			.cv
				text-transform: uppercase
				border: 1px $gray solid
				height: 31px
				width: 31px
				line-height: 31px
				text-align: center
				position: relative
				transition: $time border-color, $time color

				&:before
					content: ''
					border: 1px solid red
					width: 5px
					height: 5px
					position: absolute
					top: -1px
					right: -1px
					border: 2.5px solid white
					box-sizing: border-box
					border-left-color: $violet
					border-bottom-color: $violet

				&:hover
					border-color: $violet
					color: $violet

			.language
				text-decoration: underline
				font-style: italic
				transition: $time color

				&:hover
					color: $violet

	ul
		list-style: none
		display: flex
		flex-direction: row
		justify-content: center
		border-top: 1px gray solid
		border-bottom: 1px gray solid
		margin: 0
		padding: 0

		li
			text-align: center
			text-transform: uppercase
			padding: 10px 20px
			cursor: pointer
			width: 120px
			font-size: 12px
			box-sizing: border-box
			transition: $time color

			&:hover
				color: $violet

.indexContainer
	.mainInfo
		figure
			background-color: gray
			width: 100%
			margin: 0px
			padding: 0
			height: 336px

		.separator
			background: linear-gradient(90deg, $violet1, $violet2, $violet3, $violet4)
			width: 100%
			height: 9px

		span
			width: 100%
			font-style: italic
			font-size: 14px
			line-height: 22px
			letter-spacing : 0.25px
			color: $gray
			text-align: center
			padding: 22px 19px
			box-sizing: border-box
			display: inline-block

	.someWorks
		.titleContainer
			display: flex
			flex-direction: row
			align-items: center
			height: 12px

			.title
				text-align: center
				display: inline-block
				line-height: 12px
				text-transform: uppercase
				padding: 0 15px

			.line
				height: 1px
				background-color: $gray
				flex-grow: 1

		ul
			position: relative
			display: flex
			justify-content: left
			list-style: none
			overflow-x: scroll
			padding: 0
			align-items: center

			.left, .right
				position: fixed
				top: 50%
				margin-top: -20px
				height: 41px
				width: 18px
				display: none
				
				&:after
					font-family: mikew
					font-size: 39px
					color: $violet

			.left
				left: 0

				&:after
					content: '\e903'

			.right
				right: 0

				&:after
					content: '\e904'

			li
				display: flex
				flex-direction: column
				width: 140px
				margin: 10px 15px
				flex-shrink: 0
				flex-grow: 0
				background: transparent
				cursor: pointer

				span
					text-align: center
					background-color: white

				.title
					border: 1px double $violet
					padding: 7px
					text-transform: uppercase
					font-size: 12px
					word-break: break-word
					transition: $time border

				.body
					padding: 15px 0
					font-size: 14px

				&:last-child
					padding-right: 15px

				&:hover
					.title
						border: 4px double $violet

footer
	flex: 0 1 auto

	.moto
		height: 73px
		background-color: $gray
		color: white
		text-style: italic
		text-align: center
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

		div
			padding: 2px
			
	.contactInfoContainer
		height: 97px
		display: flex
		flex-direction: row
		justify-content: center

		span
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: center
			padding: 15px
			cursor: pointer

			&:before, &:after
				transition: color $time

			&:before
				font-size: 40px
				font-family: 'mikew'

			&:after
				text-align: center
				font-size: 14px

		.fb
			&:before
				content: '\e900'

			&:after
				content: 'Mike Woodcock'

		.whatsapp
			&:before
				content: '\e901'

			&:after
				content: '+ 57 312 553 8143'

		.twitter
			&:before
				content: '\e902'

			&:after
				content: '@NotAnyMike'

	.rights
		background: linear-gradient(90deg, $violet1, $violet2, $violet3, $violet4)
		color: white
		line-height: 31px
		font-style: italic
		height: 31px
		text-align: center
		font-size: 9px
