.projectContainer
	.summary
		display: inline-block
		p
			text-align: justify
	
	.techs
		.title
			font-size: 14px
			text-transform: capitalize
			text-align: left

	.content
		section
			&:nth-of-type(2n-1)
				background-color: rgba(#00A591, 0.5)
				color: $dark_ment

				h2
					color: $dark_ment
