.projectContainer, .writingContainer
	.identifierEntry
		img
			max-width: 105px
			max-height: 50px

	.summary
		display: inline-block

		p
			text-align: left
	
	.techs
		position: relative 

		&:after
			content: '\e904'
			font-family: mikew
			font-size: 30px
			color: $violet
			position: absolute
			right: 5px
			top: 50%
			margin-top: -20px
			height: 40px
			width: 20px
			display: inline-block

		.title
			font-size: 14px
			text-transform: capitalize
			text-align: left

		ul
			list-style: none
			display: flex
			flex-direction: column
			flex-wrap: wrap
			justify-content: center
			align-items: center
			padding: 0
			max-height: 250px
			overflow-x: scroll
			margin-right: 40px

			li
				margin: 18px
				display: flex
				flex-direction: column
				justify-content: flex-end
				align-items: center
				height: 82px

				img
					margin-bottom: 14px
					max-height: 50px
					max-width: 72px

	.content
		section
			padding: 0px 0px 0px 0px

			&.important
				background-color: rgba(#00A591, 0.5)
				color: $dark_ment

				h2
					color: $dark_ment
