.writingContainer
	.title
		margin-top: 30px

	.content
		section
			&:nth-of-type(2n-1)
				color: $gray
				background-color: transparent

				h2
					color: $violet

			&:nth-of-type(2n)
				background-color: $rose 
				color: white

				h2
					color: white
