.writingContainer
	.title
		margin-top: 30px

	.content
		section
			&:first-child
				p, h2
					&:first-of-type
						text-align: center

				p:first-of-type
					&:first-letter
						color: $violet

			&:nth-of-type(2n-1)
				color: $gray
				background-color: transparent

				h2
					color: $violet

			&:nth-of-type(2n)
				background-color: $rose 
				color: white

				h2
					color: white
